In [ ]:
#Module 1 - Sergio Figueroa - Ironhack Dataptmad pt 2020

#14/6/2020 - Extracting data and reading a few lines in the database

In [1]:
import pandas as pd
import sqlalchemy
import sqlite3
import requests
from bs4 import BeautifulSoup
import re
import json

In [2]:
%load_ext sql
%config SqlMagic.autocommit = False

In [3]:
%sql sqlite:///../data/raw/raw_data_project_m1.db

In [4]:
%%sql tables <<

SELECT 
    name
FROM 
    sqlite_master 
WHERE 
    type ='table' AND 
    name NOT LIKE 'sqlite_%';

 * sqlite:///../data/raw/raw_data_project_m1.db
Done.
Returning data to local variable tables

In [5]:
tables.DataFrame()

            name
0  personal_info
1   country_info
2    career_info
3      poll_info

In [6]:
%%sql personal_info <<

SELECT *
FROM personal_info
LIMIT 10;

 * sqlite:///../data/raw/raw_data_project_m1.db
Done.
Returning data to local variable personal_info

In [7]:
personal_info.DataFrame()

,uuid,age,gender,dem_has_children,age_group
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61 years old,male,NO,40_65
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57 years old,male,yES,40_65
2,83127080-da3d-0133-c74f-0a81e8b09a82,32 years old,male,nO,26_39
3,15626d40-db13-0133-ea5c-0a81e8b09a82,45 years old,Male,YES,40_65
4,24954a70-db98-0133-4a64-0a81e8b09a82,41 years old,Fem,yES,40_65
5,28583060-dbe2-0133-ff9c-0a81e8b09a82,1990,FeMale,NO,26_39
6,b50dbb80-da53-0133-8956-0a81e8b09a82,1990,Fem,NO,26_39
7,dd743bb0-d9a5-0133-53b2-0a81e8b09a82,47 years old,Male,NO,40_65
8,4fde2370-da48-0133-3a42-0a81e8b09a82,34 years old,FeMale,nO,26_39
9,9949c4c0-da5f-0133-c832-0a81e8b09a82,1994,female,yES,juvenile

In [8]:
%%sql country_info <<

SELECT *
FROM country_info
LIMIT 10;

 * sqlite:///../data/raw/raw_data_project_m1.db
Done.
Returning data to local variable country_info

In [9]:
country_info.DataFrame()

                                   uuid country_code        rural
0  f6e7ee00-deac-0133-4de8-0a81e8b09a82           AT  countryside
1  54f0f1c0-dda1-0133-a559-0a81e8b09a82           AT        urban
2  83127080-da3d-0133-c74f-0a81e8b09a82           AT         city
3  15626d40-db13-0133-ea5c-0a81e8b09a82           AT      Country
4  24954a70-db98-0133-4a64-0a81e8b09a82           AT         city
5  28583060-dbe2-0133-ff9c-0a81e8b09a82           AT  countryside
6  b50dbb80-da53-0133-8956-0a81e8b09a82           AT        urban
7  dd743bb0-d9a5-0133-53b2-0a81e8b09a82           AT        urban
8  4fde2370-da48-0133-3a42-0a81e8b09a82           AT         city
9  9949c4c0-da5f-0133-c832-0a81e8b09a82           AT        urban

In [10]:
%%sql career_info <<

SELECT *
FROM career_info
LIMIT 10;

 * sqlite:///../data/raw/raw_data_project_m1.db
Done.
Returning data to local variable career_info

In [11]:
career_info.DataFrame()

,uuid,dem_education_level,dem_full_time_job,normalized_job_code
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,no,no,None
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0
2,83127080-da3d-0133-c74f-0a81e8b09a82,None,no,None
3,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c
4,24954a70-db98-0133-4a64-0a81e8b09a82,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f
5,28583060-dbe2-0133-ff9c-0a81e8b09a82,high,yes,27af8700f5577cec835acee2cb90a2ff
6,b50dbb80-da53-0133-8956-0a81e8b09a82,medium,no,None
7,dd743bb0-d9a5-0133-53b2-0a81e8b09a82,medium,yes,c1b670eba9ccb65e7c99f7da116d5b9c
8,4fde2370-da48-0133-3a42-0a81e8b09a82,medium,yes,d71c4164c99a5f9bca773e755a72f40f
9,9949c4c0-da5f-0133-c832-0a81e8b09a82,no,no,None

In [12]:
%%sql poll_info <<

SELECT *
FROM poll_info
LIMIT 10;

 * sqlite:///../data/raw/raw_data_project_m1.db
Done.
Returning data to local variable poll_info

In [13]:
poll_info.DataFrame()

,uuid,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,I know something about it,I would not vote,None of the above,None of the above,None of the above
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working
2,83127080-da3d-0133-c74f-0a81e8b09a82,I have heard just a little about it,I would not vote,‰Û_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...
3,15626d40-db13-0133-ea5c-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,‰Û_ work less,It reduces anxiety about financing basic needs,None of the above
4,24954a70-db98-0133-4a64-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...
5,28583060-dbe2-0133-ff9c-0a81e8b09a82,I understand it fully,I would vote against it,A basic income would not affect my work choices,It encourages financial independence and self-...,It is impossible to finance | It might encoura...
6,b50dbb80-da53-0133-8956-0a81e8b09a82,I know something about it,I would probably vote for it,‰Û_ work as a freelancer,It reduces anxiety about financing basic needs,Foreigners might come to my country and take a...
7,dd743bb0-d9a5-0133-53b2-0a81e8b09a82,I know something about it,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working | Fo...
8,4fde2370-da48-0133-3a42-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,None of the above,It creates more equality of opportunity | It r...,Foreigners might come to my country and take a...
9,9949c4c0-da5f-0133-c832-0a81e8b09a82,I understand it fully,I would vote for it,‰Û_ do more volunteering work,"It increases solidarity, because it is funded ...",Foreigners might come to my country and take a...

In [14]:
#import pandas as pd
#import sqlalchemy
#import sqlite3

In [15]:
enn = sqlalchemy.create_engine('sqlite:///../data/raw/raw_data_project_m1.db')

personal = pd.read_sql_table(table_name='personal_info', con=enn)

personal

,uuid,age,gender,dem_has_children,age_group
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61 years old,male,NO,40_65
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57 years old,male,yES,40_65
2,83127080-da3d-0133-c74f-0a81e8b09a82,32 years old,male,nO,26_39
3,15626d40-db13-0133-ea5c-0a81e8b09a82,45 years old,Male,YES,40_65
4,24954a70-db98-0133-4a64-0a81e8b09a82,41 years old,Fem,yES,40_65
...,...,...,...,...,...
9644,7d1ac020-dcb4-0133-817a-0a81e8b09a82,37 years old,FeMale,nO,26_39
9645,39f989f0-db52-0133-8482-0a81e8b09a82,53 years old,Male,yES,40_65
9646,70ce4a90-d965-0133-f5e4-0a81e8b09a82,1992,male,NO,juvenile
9647,2896e440-db3c-0133-5b67-0a81e8b09a82,47 years old,male,yES,40_65
9648,06217ba0-dd56-0133-edda-0a81e8b09a82,51 years old,FeMale,YES,40_65

In [16]:
personal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9649 entries, 0 to 9648
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   uuid              9649 non-null   object
 1   age               9649 non-null   object
 2   gender            9649 non-null   object
 3   dem_has_children  9649 non-null   object
 4   age_group         9649 non-null   object
dtypes: object(5)
memory usage: 377.0+ KB

In [17]:
personal.describe()

,uuid,age,gender,dem_has_children,age_group
count,9649,9649,9649,9649,9649
unique,9649,52,5,4,4
top,ea45d510-d8e7-0133-c04d-0a81e8b09a82,40 years old,male,yES,40_65
freq,1,477,3796,2561,4896

In [18]:
personal.rename(index={e: e+1 for e in range(len(personal))}, 
                columns={'dem_has_children': 'children'}, inplace=True)
personal.head()

,uuid,age,gender,children,age_group
1,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61 years old,male,NO,40_65
2,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57 years old,male,yES,40_65
3,83127080-da3d-0133-c74f-0a81e8b09a82,32 years old,male,nO,26_39
4,15626d40-db13-0133-ea5c-0a81e8b09a82,45 years old,Male,YES,40_65
5,24954a70-db98-0133-4a64-0a81e8b09a82,41 years old,Fem,yES,40_65

In [19]:
#import re

personal['age'] =  personal['age'].apply(lambda x: re.sub('\D', '', x)).astype(int)

In [20]:
from datetime import datetime

def agefunc(x):
    today = datetime.today().year
    y = 0
    if x <= 1000:
        pass
    else:
        y = today - x
        return y

In [21]:
m = personal['age'] <= 1000
personal['age'] = personal['age'].where(m, personal['age'].apply(agefunc))
personal

                                      uuid  age  gender children age_group
1     f6e7ee00-deac-0133-4de8-0a81e8b09a82   61    male       NO     40_65
2     54f0f1c0-dda1-0133-a559-0a81e8b09a82   57    male      yES     40_65
3     83127080-da3d-0133-c74f-0a81e8b09a82   32    male       nO     26_39
4     15626d40-db13-0133-ea5c-0a81e8b09a82   45    Male      YES     40_65
5     24954a70-db98-0133-4a64-0a81e8b09a82   41     Fem      yES     40_65
...                                    ...  ...     ...      ...       ...
9645  7d1ac020-dcb4-0133-817a-0a81e8b09a82   37  FeMale       nO     26_39
9646  39f989f0-db52-0133-8482-0a81e8b09a82   53    Male      yES     40_65
9647  70ce4a90-d965-0133-f5e4-0a81e8b09a82   28    male       NO  juvenile
9648  2896e440-db3c-0133-5b67-0a81e8b09a82   47    male      yES     40_65
9649  06217ba0-dd56-0133-edda-0a81e8b09a82   51  FeMale      YES     40_65

[9649 rows x 5 columns]

In [22]:
personal['gender'] = personal['gender'].str.lower().apply(lambda x: re.sub('fem$', 'female', x))
personal

                                      uuid  age  gender children age_group
1     f6e7ee00-deac-0133-4de8-0a81e8b09a82   61    male       NO     40_65
2     54f0f1c0-dda1-0133-a559-0a81e8b09a82   57    male      yES     40_65
3     83127080-da3d-0133-c74f-0a81e8b09a82   32    male       nO     26_39
4     15626d40-db13-0133-ea5c-0a81e8b09a82   45    male      YES     40_65
5     24954a70-db98-0133-4a64-0a81e8b09a82   41  female      yES     40_65
...                                    ...  ...     ...      ...       ...
9645  7d1ac020-dcb4-0133-817a-0a81e8b09a82   37  female       nO     26_39
9646  39f989f0-db52-0133-8482-0a81e8b09a82   53    male      yES     40_65
9647  70ce4a90-d965-0133-f5e4-0a81e8b09a82   28    male       NO  juvenile
9648  2896e440-db3c-0133-5b67-0a81e8b09a82   47    male      yES     40_65
9649  06217ba0-dd56-0133-edda-0a81e8b09a82   51  female      YES     40_65

[9649 rows x 5 columns]

In [23]:
personal['children'] = personal['children'].str.lower()
personal.head()

                                   uuid  age  gender children age_group
1  f6e7ee00-deac-0133-4de8-0a81e8b09a82   61    male       no     40_65
2  54f0f1c0-dda1-0133-a559-0a81e8b09a82   57    male      yes     40_65
3  83127080-da3d-0133-c74f-0a81e8b09a82   32    male       no     26_39
4  15626d40-db13-0133-ea5c-0a81e8b09a82   45    male      yes     40_65
5  24954a70-db98-0133-4a64-0a81e8b09a82   41  female      yes     40_65

In [24]:
#Assigning 'juvenile' to an age_agroup.

personal['age_group'].value_counts()

40_65       4896
26_39       2813
14_25       1471
juvenile     469
Name: age_group, dtype: int64

In [25]:
#personal.groupby('age_group')['age'].value_counts()
#Are there people wrongly assigned to som age groups?

In [26]:
youngfilter = personal['age'].between(5, 29)
personal[youngfilter].head(5)

#Yes, there are people up to 29 y/o in the 14_29 age range.

                                    uuid  age  gender children age_group
10  9949c4c0-da5f-0133-c832-0a81e8b09a82   26  female      yes  juvenile
13  2351fbe0-de4c-0133-0d58-0a81e8b09a82   29  female       no     14_25
19  76767d10-dd6c-0133-f56d-0a81e8b09a82   21  female       no     14_25
23  638a8b80-da45-0133-e8e1-0a81e8b09a82   19  female       no     14_25
24  b1eb3870-decd-0133-d783-0a81e8b09a82   29  female       no     14_25

In [27]:
enn = sqlalchemy.create_engine('sqlite:///../data/raw/raw_data_project_m1.db')

career = pd.read_sql_table(table_name='career_info', con=enn)

career

,uuid,dem_education_level,dem_full_time_job,normalized_job_code
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,no,no,None
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0
2,83127080-da3d-0133-c74f-0a81e8b09a82,None,no,None
3,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c
4,24954a70-db98-0133-4a64-0a81e8b09a82,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f
...,...,...,...,...
9644,7d1ac020-dcb4-0133-817a-0a81e8b09a82,high,yes,847165cfda6b1dc82ae22b967da8af2f
9645,39f989f0-db52-0133-8482-0a81e8b09a82,high,yes,a4d5b8b38f9513825d0d94a981ebe962
9646,70ce4a90-d965-0133-f5e4-0a81e8b09a82,low,no,None
9647,2896e440-db3c-0133-5b67-0a81e8b09a82,low,yes,775190277a849cba701b306a7b374c0a
9648,06217ba0-dd56-0133-edda-0a81e8b09a82,high,yes,8a7a3f1bce0958ae9f090683e5a925b7

In [28]:
enn = sqlalchemy.create_engine('sqlite:///../data/raw/raw_data_project_m1.db')

country = pd.read_sql_table(table_name='country_info', con=enn)

country

                                      uuid country_code        rural
0     f6e7ee00-deac-0133-4de8-0a81e8b09a82           AT  countryside
1     54f0f1c0-dda1-0133-a559-0a81e8b09a82           AT        urban
2     83127080-da3d-0133-c74f-0a81e8b09a82           AT         city
3     15626d40-db13-0133-ea5c-0a81e8b09a82           AT      Country
4     24954a70-db98-0133-4a64-0a81e8b09a82           AT         city
...                                    ...          ...          ...
9644  7d1ac020-dcb4-0133-817a-0a81e8b09a82           SK        urban
9645  39f989f0-db52-0133-8482-0a81e8b09a82           SK        urban
9646  70ce4a90-d965-0133-f5e4-0a81e8b09a82           SK    Non-Rural
9647  2896e440-db3c-0133-5b67-0a81e8b09a82           SK         city
9648  06217ba0-dd56-0133-edda-0a81e8b09a82           SK         city

[9649 rows x 3 columns]

In [29]:
enn = sqlalchemy.create_engine('sqlite:///../data/raw/raw_data_project_m1.db')

poll = pd.read_sql_table(table_name='poll_info', con=enn)

poll

,uuid,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,I know something about it,I would not vote,None of the above,None of the above,None of the above
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working
2,83127080-da3d-0133-c74f-0a81e8b09a82,I have heard just a little about it,I would not vote,‰Û_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...
3,15626d40-db13-0133-ea5c-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,‰Û_ work less,It reduces anxiety about financing basic needs,None of the above
4,24954a70-db98-0133-4a64-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...
...,...,...,...,...,...,...
9644,7d1ac020-dcb4-0133-817a-0a81e8b09a82,I understand it fully,I would probably vote for it,‰Û_ spend more time with my family,It reduces bureaucracy and administrative expe...,It is impossible to finance
9645,39f989f0-db52-0133-8482-0a81e8b09a82,I have never heard of it,I would probably vote against it,A basic income would not affect my work choices,It reduces bureaucracy and administrative expe...,It might encourage people to stop working | On...
9646,70ce4a90-d965-0133-f5e4-0a81e8b09a82,I have heard just a little about it,I would not vote,‰Û_ spend more time with my family,It reduces anxiety about financing basic needs,None of the above
9647,2896e440-db3c-0133-5b67-0a81e8b09a82,I understand it fully,I would vote for it,A basic income would not affect my work choices,It reduces bureaucracy and administrative expe...,Foreigners might come to my country and take a...
9648,06217ba0-dd56-0133-edda-0a81e8b09a82,I understand it fully,I would vote against it,A basic income would not affect my work choices,It reduces bureaucracy and administrative expe...,It might encourage people to stop working | It...

In [30]:
total_data = pd.merge(personal, career, on='uuid')
total_data2 = pd.merge(total_data, country, on='uuid')
glob_data = pd.merge(total_data2, poll, on='uuid')
glob_data.head(5)

,uuid,age,gender,children,age_group,dem_education_level,dem_full_time_job,normalized_job_code,country_code,rural,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61,male,no,40_65,no,no,None,AT,countryside,I know something about it,I would not vote,None of the above,None of the above,None of the above
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57,male,yes,40_65,high,yes,861a9b9151e11362eb3c77ca914172d0,AT,urban,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working
2,83127080-da3d-0133-c74f-0a81e8b09a82,32,male,no,26_39,None,no,None,AT,city,I have heard just a little about it,I would not vote,‰Û_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...
3,15626d40-db13-0133-ea5c-0a81e8b09a82,45,male,yes,40_65,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c,AT,Country,I have heard just a little about it,I would probably vote for it,‰Û_ work less,It reduces anxiety about financing basic needs,None of the above
4,24954a70-db98-0133-4a64-0a81e8b09a82,41,female,yes,40_65,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f,AT,city,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...

In [47]:
relevant_data = glob_data[['uuid', 'age', 'country_code', 'normalized_job_code']]
relevant_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9649 entries, 0 to 9648
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   uuid                 9649 non-null   object
 1   age                  9649 non-null   int64
 2   country_code         9649 non-null   object
 3   normalized_job_code  5702 non-null   object
dtypes: int64(1), object(3)
memory usage: 696.9+ KB

In [66]:
def country_filter(country_code_col, country):
    return = country_code_col == 'country'

In [69]:
relevant_data[country_filter(relevant_data['country_code'], 'ES')]

TypeError: country_filter() missing 1 required positional argument: 'country'

In [55]:
filter_spain = relevant_data['country_code'] == 'ES'
df_spain = relevant_data[filter_spain]
df_spain

,uuid,age,country_code,normalized_job_code
2212,72a48100-da38-0133-487f-0a81e8b09a82,59,ES,7028f15ad274cb4d9505101b9c1306b1
2213,5329b030-d99c-0133-b04f-0a81e8b09a82,41,ES,a12a16280e22220f9354333f6fe1b22a
2214,50034b00-d90a-0133-a5e3-0a81e8b09a82,52,ES,e605336f5a43949cb6b18054fd1937f1
2215,8d7d6420-dc03-0133-856e-0a81e8b09a82,45,ES,0facaffe51cc1998a5fbdbe5fd18fd98
2216,d9a5f7a0-da3d-0133-c982-0a81e8b09a82,50,ES,a12a16280e22220f9354333f6fe1b22a
...,...,...,...,...
3212,fd4c1ee0-d989-0133-9f36-0a81e8b09a82,32,ES,None
3213,769ffd20-d8e5-0133-be36-0a81e8b09a82,29,ES,None
3214,37ce82b0-da76-0133-379b-0a81e8b09a82,57,ES,dac2e921c1f887d9efc4c06fa33c1397
3215,adc972d0-da0e-0133-fbec-0a81e8b09a82,52,ES,None
3216,e440d730-d9a5-0133-53ca-0a81e8b09a82,27,ES,None

In [56]:
big_spain = glob_data[filter_spain]
big_spain

,uuid,age,gender,children,age_group,dem_education_level,dem_full_time_job,normalized_job_code,country_code,rural,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst
2212,72a48100-da38-0133-487f-0a81e8b09a82,59,male,no,40_65,high,yes,7028f15ad274cb4d9505101b9c1306b1,ES,urban,I know something about it,I would vote for it,‰Û_ do more volunteering work,It creates more equality of opportunity,It might encourage people to stop working
2213,5329b030-d99c-0133-b04f-0a81e8b09a82,41,male,yes,40_65,medium,yes,a12a16280e22220f9354333f6fe1b22a,ES,urban,I understand it fully,I would probably vote against it,A basic income would not affect my work choices,None of the above,It might encourage people to stop working | It...
2214,50034b00-d90a-0133-a5e3-0a81e8b09a82,52,male,no,40_65,medium,yes,e605336f5a43949cb6b18054fd1937f1,ES,Non-Rural,I know something about it,I would vote against it,‰Û_ work less,"It increases solidarity, because it is funded ...",It might encourage people to stop working | Fo...
2215,8d7d6420-dc03-0133-856e-0a81e8b09a82,45,female,no,40_65,low,yes,0facaffe51cc1998a5fbdbe5fd18fd98,ES,urban,I know something about it,I would vote for it,‰Û_ look for a different job,It reduces anxiety about financing basic needs,It might encourage people to stop working
2216,d9a5f7a0-da3d-0133-c982-0a81e8b09a82,50,male,yes,40_65,medium,yes,a12a16280e22220f9354333f6fe1b22a,ES,Non-Rural,I have heard just a little about it,I would vote for it,‰Û_ spend more time with my family,It creates more equality of opportunity | It i...,It is against the principle of linking merit a...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3212,fd4c1ee0-d989-0133-9f36-0a81e8b09a82,32,male,no,26_39,high,no,None,ES,urban,I have heard just a little about it,I would vote for it,‰Û_ work as a freelancer,It reduces bureaucracy and administrative expe...,It might encourage people to stop working
3213,769ffd20-d8e5-0133-be36-0a81e8b09a82,29,male,no,14_25,low,no,None,ES,urban,I have heard just a little about it,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,Only the people who need it most should get so...
3214,37ce82b0-da76-0133-379b-0a81e8b09a82,57,female,yes,40_65,high,yes,dac2e921c1f887d9efc4c06fa33c1397,ES,rural,I know something about it,I would probably vote for it,A basic income would not affect my work choices,None of the above,It might encourage people to stop working
3215,adc972d0-da0e-0133-fbec-0a81e8b09a82,52,male,yes,40_65,low,no,None,ES,Country,I have never heard of it,I would not vote,None of the above,None of the above,None of the above
3216,e440d730-d9a5-0133-53ca-0a81e8b09a82,27,female,no,14_25,high,no,None,ES,Non-Rural,I know something about it,I would vote for it,‰Û_ work as a freelancer,It creates more equality of opportunity,It might encourage people to stop working

In [31]:
##Editing country code
#import requests
#from bs4 import BeautifulSoup

url = 'https://ec.europa.eu/eurostat/statistics-explained/index.php/Glossary:Country_codes'

def country_name_import(x):

    #Import table
    html = requests.get(url).content
    soup = BeautifulSoup(html, 'lxml')
    table = soup.find_all('td') 
    
    # Scrap countries list
    codes = [i.text.strip() for i in table]
    pre_codes_clean = [i for i in codes if i != ""]
    codes_clean = [re.sub(r'\b[()]|[()]\b', '', code) for code in pre_codes_clean]
    codes_clean[3] = codes_clean[3].replace('EL', 'GR')
    codes_clean[55] = codes_clean[55].replace('UK', 'GB')  
    
    #List to Dict
    countries_codes = {codes_clean[i + 1]: codes_clean[i] for i in range(0, len(codes_clean), 2)} 
    
    return countries_codes

In [34]:
glob_data["normalized_job_code"]

0                                   None
1       861a9b9151e11362eb3c77ca914172d0
2                                   None
3       049a3f3a2b5f85cb2971ba77ad66e10c
4       f4b2fb1aa40f661488e2782b6d57ad2f
                      ...
9644    847165cfda6b1dc82ae22b967da8af2f
9645    a4d5b8b38f9513825d0d94a981ebe962
9646                                None
9647    775190277a849cba701b306a7b374c0a
9648    8a7a3f1bce0958ae9f090683e5a925b7
Name: normalized_job_code, Length: 9649, dtype: object

In [35]:
url = "http://api.dataatwork.org/v1/jobs/" + glob_data.loc[1, "normalized_job_code"]
url

'http://api.dataatwork.org/v1/jobs/861a9b9151e11362eb3c77ca914172d0'

In [36]:
#import json

#def jobs_requests(x):
    
#    if x != None:
#        url = "http://api.dataatwork.org/v1/jobs/" + x
        #print(url)
#        request = requests.get(url)
#        job_title_json = request.json()
        #print(job_title_json)
#        job_title = job_title_json['normalized_job_title'].title()
        #print(job_title)
        
#        return job_title
    
#    else:
#        pass

In [37]:
#print(jobs_requests(glob_data.loc[1, "normalized_job_code"]))

In [71]:
#jobs_list = []

for code in glob_data['normalized_job_code']:
#    if code != None:
#        codes_list.append(code)
#        url = 'http://api.dataatwork.org/v1/jobs/' + code
#        response = requests.get(url).json()
#        jobs_jsons = response.json()
#        print(response)
#        jobs_list.append(jobs_jsons)
#    else:
#        pass

#print(jobs_list)

In [70]:
#for code in glob_data['normalized_job_code']:
#    if code != None:
#        codes_list.append(code)
#        url = 'http://api.dataatwork.org/v1/jobs/' + code
#    print(url)